@model MyBlog.Models.ChangePasswordModel



<center>
    <h2 style="color:red">@TempData["Message"]</h2>
</center>

<form method="POST" asp-action="ChangePassword">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="CurrentPassword" >Current password</label>
        <input asp-for="CurrentPassword" class="form-control" type="password" name="CurrentPassword"/>
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewPassword">New password</label>
        <input asp-for="NewPassword" class="form-control" type="password" name="NewPassword"/>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="RePassword">Retype password</label>
        <input asp-for="RePassword" class="form-control" type="password" name="RePassword"/>
        <span asp-validation-for="RePassword" class="text-danger"></span>
    </div>

    @Html.AntiForgeryToken()

    <input class="btn btn-primary" type="submit" value="Change password"/>
    
    
</form>